.nav-aside .with-sub.show ul li.active a.active-link {
	font-weight: bold;
}

.nav-aside .with-sub.show ul li.active a.active-link::before {
	content: "\f2ba";
	font-family: "Ionicons";
	font-size: 12px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
}

.table-bordered thead td,
.table-bordered thead th {
	border-bottom-width: 0px;
	vertical-align: middle;
}

table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
	border-right-width: 1px !important;
}

table.dataTable {
	border-collapse: collapse;
	border-spacing: 0 !important;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
	background-color: #7987a1 !important;
}

.dataTables_wrapper #data-desc_length {
	padding: 20px 0px 0px 20px;
}

.dataTables_wrapper #data-desc_paginate {
	padding: 0px 20px 15px 0px;
}

@media (max-width: 576px) {
	.dataTables_wrapper #data-desc_length,
	.dataTables_wrapper #data-desc_info,
	.dataTables_wrapper #data-desc_paginate {
		width: 100%;
		text-align: center;
	}
}

.dropdown-item.active {
	color: #0168fa !important;
	font-weight: 800 !important;
	background-color: transparent !important;
}

.navbar-menu-sub .active {
	color: #0168fa !important;
	font-weight: 800 !important;
}

.shadow-sm {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-md {
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.profile-info-list li + li {
	margin-top: 5px !important;
}

.avatar-away::after {
	font-family: "Font Awesome 5 Free";
	content: "\f017";
	color: #ffba00;
	font-size: 9.2px;
	font-weight: bold;
	line-height: 0.6rem;
	position: absolute;
	bottom: 0;
	right: 2px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	box-shadow: 0 0 0 2px #fff;
}

.avatar-away::after {
	background-color: #fff !important;
}

.avatar-xxl.avatar-away::after {
	font-family: "Font Awesome 5 Free";
	content: "\f017";
	color: #ffba00;
	font-size: 15px;
	line-height: 1rem;
	width: 15px;
	height: 15px;
	bottom: 6px;
	right: 6px;
	box-shadow: 0 0 0 3px #fff;
}

.avatar-xxl.avatar-away::after {
	background-color: #fff !important;
}

.word-wrap {
	word-wrap: break-word !important;
}

/*
-------------------------------
START Preloader
*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999999;
}

@keyframes heartbeat {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1.2);
	}
	100% {
		transform: scale(1, 1);
	}
}

.preloader .loading {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	animation: heartbeat 1s infinite;
}

/*
END Preloader
-------------------------------
*/

.share-update {
	background-color: #fff;
	border: 1px solid rgba(72, 94, 144, 0.16);
	display: flex;
	justify-content: space-between;
}

.share-update nav {
	display: flex;
	align-items: center;
	border-left: 1px solid rgba(72, 94, 144, 0.16);
	padding: 10px;
}
.share-update nav a {
	color: #8392a5;
	padding: 2px 5px;
	border-radius: 0.25rem;
}
.share-update nav a:hover,
.share-update nav a:focus {
	color: #525f70;
}
.share-update nav a + a {
	margin-left: 2px;
}
.share-update nav a.active {
	color: #1b2e4b;
}
.share-update nav svg {
	width: 20px;
}

.share-update .form-control {
	font-size: inherit;
	box-shadow: none !important;
	background-color: transparent;
}

#loader_url {
	position: absolute;
	right: 10px;
	margin-top: -12px;
	width: 16px;
	height: 24px;
	display: none;
}

.form-group > label {
	font-weight: bold;
}

.form-fieldset {
	background-color: #eff1f5;
}
.form-fieldset legend {
	padding: 0 !important;
}

.sticky-offset {
	top: 65px;
}

.todo-status {
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

/* hover icon */
a:hover+span+i,
    /* when link is hovered select i */
    a+span:hover+i,
    /* when space after link is hovered select i */
    a+span+i:hover {
	/* when icon is hovered select i */
	visibility: visible;
}

a + span + i {
	/* in all other case hide it */
	visibility: hidden;
}

/* select2 */
.input-group .select2-container--default .select2-selection--single {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.select2-close-mask {
	z-index: 2099;
}
.select2-dropdown {
	z-index: 3051;
}
